<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <style>
        ul {
        list-style: none;
        padding: 0;
        }

      li:before {
        content: "♦"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
      }

    </style>
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h3 class="about"><a href="/about.html", style='color:white'> About </a></h3>
      <a href="/index.html", style='color:white'>
        <h1 class="project-name">{{ site.title | default: site.title | default: site.github.repository_name }}</h1>
      </a>
      <h2 class="project-tagline">{{ site.description | default: site.description | default: site.github.project_tagline }}</h2>
      <h3>
        {% for category in site.data.index.docs %}
          <span class="inpad"><a href="{{category.url}}" style="color:white">{{category.title}}</a></span>
        {% endfor %}
      </h3>

      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip></a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>
    <div id='index_grid'>
      <ul id=index_list>
        {% for category in site.data.index.docs %}
          {% for cat in page.categories%} 
            {% if category.title ==  cat%}
              {% for subcategory in category.subindex %}
                <li style="padding:3px;">{{ subcategory.subtitle }}</li>

              {% endfor %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>

      
      
      <main id="content" class="main-content" role="main">

        {{ content }}
        {% for post in site.posts %}
          {% for cat in page.categories%}
            {% for post_cat in post.categories %}
            {% if post_cat ==  cat%}
              
                <h3 style="margin-bottom:0rem;margin-top:1rem">
                  <span style="margin:1px;border-bottom:dashed grey;border-width: thin;
                               padding-left:0.3rem;padding-right:1rem;">
                    <a href="{{ post.url }}">{{post.title}}</a>
                    <span style="font-size:12px;padding-left:9px;color:grey">
                      {{post.date | date: "%Y-%m-%d %H:%M:%S"}}</span>
                  </span>
                </h3>
                
              

            {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </main>
        

    
    </div>
    <footer class="site-footer" style="margin:50px;padding-right:50px;text-align:right;margin-right: 50px;
    margin-left: 50px;position: relative; bottom:0px;">
      {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
      {% endif %}
      <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
    </footer>

    
  </body>
</html>
